.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
li {
  list-style: none;
}

.comment-box {
  display: flex;
  align-items: center;
}
.firstname {
  border-radius: 50%;
  padding: 6px;
  background-color: green;
  margin-right: 20px;
}
.name {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}
.like {
  display: flex;
  align-items: center;
}
.like > button {
  cursor: pointer;
  text-align: center;
}
.like-img {
  height: 25px;
  padding-right: 14px;
  cursor: pointer;
}
.delete-container {
  display: flex;
  justify-content: space-between;
}

.dlt-btn {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

button {
  background: none;
  border: none;
}
